html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: black;
  color: #ddd;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  color: #ddd;
}

ol {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ol li {
  margin: 10px 0;
  padding-left: 10px;
}

p {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
